# ignore all root items
/*

# unignore folders
!docs/
!resources/
!scripts/
!tests/
!.trae/

# unignore files
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!Makefile
!.pre-commit-config.yaml
!.editorconfig
!main.py
!main.spec
!models.conf.example
!LICENSE
!.pre-commit-config.yaml
!install.command
!setup_launcher.sh
!.python-version

__pycache__
